// Import all partials
@require './_*.styl'

body
  margin 0
  padding 0
  background url(./images/starfield.jpg) no-repeat center center fixed
  background-size cover

#board
  display flex
  width 910px
  margin 50px auto

  .gridspace-wrapper
    position relative
    display block
    width 130px
    height 130px
    padding 5px

    &--long
      height 650px
      
    .gridspace
      display inline-block
      width 100%
      height 100%
      border 2px solid rgb(102, 204, 255)
      border-radius 5px
      background-repeat no-repeat
      background-position center center
      vertical-align middle
      text-align center
      
      .unit
        z-index 9
        width 100px
        height 100px
        margin 8px auto 0 auto
        vertical-align middle
        
        &--friendly
          background-image: url('./images/rocket.svg')
  
        &--enemy
          background-image: url('./images/enemy-rocket.svg')

        &--E
          transform rotate(90deg)
          
        &--S
          transform rotate(180deg)
          
        &--W
          transform rotate(270deg)
        

  .inner-grid
    display flex
    flex-wrap wrap
    align-content flex-start
    width 650px

.shadow
  background: rgba(0, 0, 0, 0.5)
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index 99
  
.add-units-dropdown
  background white
  width 85%
  padding 40px
  margin 0 auto
  z-indez 999
  
  h2
    color #000000
    font-weight bold
